<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load crispy_forms_tags %} <!-- Carga de Crispy Forms -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensión del Terror</title>
    
    <!-- :::::::::::::::::: CSS LOCAL ::::::::::::::::: -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_movie.css' %}">

    <!-- :::::::::::::::::: FAVICON ::::::::::::::::: -->
    <link rel="icon" type="image/png" href="{% static 'src/favicon.png' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />


    <!-- :::::::::::::::::: FONTAWESOME ::::::::::::::::: -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- :::::::::::::::::: GOOGLE FONTS ::::::::::::::::: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Poppins -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" 
        rel="stylesheet"
    >
    <!-- Roboto Condensed -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" 
        rel="stylesheet"
    >
    <!-- Holtwood One SC -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" 
        rel="stylesheet"
    >
    <!-- Mulish -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap" 
        rel="stylesheet"
    >
    <!-- PT Sans Narrow -->
    <link 
        href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" 
        rel="stylesheet"
    >
    <!-- Ruslan Display -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap" 
        rel="stylesheet"
    >
    <!-- Bebas Neue -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" 
        rel="stylesheet"
    >
    <!-- Bruno Ace SC -->
    <link 
        href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" 
        rel="stylesheet"
    >

    <!-- :::::::::::::::::: BOOTSTRAP ::::::::::::::::: -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EOx6jGO1ABrBCmOl5FnyUpTK5Id0xv5iOsOvO3B1rlyqESwlHIZ3cVxXepmYJ7+H" 
        crossorigin="anonymous"
    >

    <!-- :::::::::::::::::: SWIPER ::::::::::::::::: -->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    >
    <script 
        src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js">
    </script>
   <!-- :::::::::::::::::: Script Principal::::::::::::::::: -->
<script src="{% static 'js/scripts.js' %}"></script>

</head>

<body>
                 <!-- :::::::::::::::::: NAV ::::::::::::::::: -->
                 <nav class="navbar">
                    <ul>
                        <li><a href="{% url 'movie_list' %}">Películas</a></li>
                        <li><a href="{% url 'collections_list' %}">Colecciones</a></li>
                        <li><a href="{% url 'series_list' %}">Series</a></li>
                        <li><a href="{% url 'reviews' %}">Reseñas</a></li>
                        <li><a href="#contact-form" id="openFormLink">Pídeme una peli!</a></li>
                         <li><a href="{% url 'user_panel' %}"><span class="material-symbols-outlined icono-panel">cinematic_blur</span>Mi Panel</a></li>          
                    </ul>
                </nav>
                
    <!-- :::::::::::::::::: HEADER ::::::::::::::::: -->
    <header>
        <!-- Link al listado de películas con banner -->
        <a href="{% url 'movie_list' %}" class="header-link">
            <div id="img-header">
                <img src="{% static 'banners/header_blue.jpg' %}" alt="Banner Predeterminado">
               <!--  <img src="{% static 'banners/banner_red.jpg' %}" alt="Banner Predeterminado"> -->
            </div> 
            <h1>La Dimensión del Terror</h1>
            <h3>Colección de Cine de Terror, Sci-Fi y Fantástico</h3>
        </a>

    </header>

    <!-- :::::::::::::::::: MAIN ::::::::::::::::: -->
    <main>
        
        <section id="movie-posters">
            <!-- Título de sección -->
            <h2>Últimas Películas Disponibles</h2>

            <!-- Contador de películas -->
            <div class="movie-counter">
                <a href="{% url 'dynamic_genre_movies' %}">
                    Total de Películas: {{ total_movies }}
                </a>
            </div>

            <div class="filters-container">
                <form method="get" class="filters-form">
                  <!-- Filtro por título -->
                  <input type="hidden" name="q" value="{{ query }}">
              
                  <!-- Género -->
                  <label for="genre_id">Género:</label>
                  <select name="genre_id" id="genre_id">
                    <option value="Todos">Todos</option>
                    {% for g in all_genres %}
                      <option value="{{ g.id }}" {% if current_genre_id == g.id|stringformat:"s" %}selected{% endif %}>
                        {{ g.name }}
                      </option>
                    {% endfor %}
                  </select>
              
                  <!-- Año -->
                  <label for="year_segment">Año:</label>
                  <select name="year_segment" id="year_segment">
                      <option value="Todos" {% if current_year_segment == 'Todos' %}selected{% endif %}>Todos</option>
                      <option value="2025" {% if current_year_segment == '2025' %}selected{% endif %}>2025</option>
                      <option value="2024" {% if current_year_segment == '2024' %}selected{% endif %}>2024</option>
                      <option value="2023" {% if current_year_segment == '2023' %}selected{% endif %}>2023</option>
                      <option value="2022" {% if current_year_segment == '2022' %}selected{% endif %}>2022</option>
                      <option value="2021" {% if current_year_segment == '2021' %}selected{% endif %}>2021</option>
                      <option value="2020" {% if current_year_segment == '2020' %}selected{% endif %}>2020</option>
                      <option value="2010-2019" {% if current_year_segment == '2010-2019' %}selected{% endif %}>2010-2019</option>
                      <option value="2000-2009" {% if current_year_segment == '2000-2009' %}selected{% endif %}>2000-2009</option>
                      <option value="1990-1999" {% if current_year_segment == '1990-1999' %}selected{% endif %}>1990-1999</option>
                      <option value="1980-1989" {% if current_year_segment == '1980-1989' %}selected{% endif %}>1980-1989</option>
                      <option value="1970-1979" {% if current_year_segment == '1970-1979' %}selected{% endif %}>1970-1979</option>
                      <option value="1940-1969" {% if current_year_segment == '1940-1969' %}selected{% endif %}>1940-1969</option>
                  </select>
                  
              
                  <!-- Ordenar por -->
                  <label for="sort_by">Ordenar por:</label>
                  <select name="sort_by" id="sort_by">
                    <option value="reciente" {% if current_sort_by == 'reciente' %}selected{% endif %}>Más reciente</option>
                    <option value="antiguo" {% if current_sort_by == 'antiguo' %}selected{% endif %}>Más antiguo</option>
                    <option value="alf_asc" {% if current_sort_by == 'alf_asc' %}selected{% endif %}>Alfabético (A-Z)</option>
                    <option value="alf_desc" {% if current_sort_by == 'alf_desc' %}selected{% endif %}>Alfabético (Z-A)</option>
                    <option value="rating" {% if current_sort_by == 'rating' %}selected{% endif %}>Puntuación TMDb</option>
                  </select>
              
                  <!-- Botón -->
                  <button type="submit" class="btn-filter">Filtrar</button>
                </form>
              </div>
              
              
  
            
            <!-- Grid de pósters -->
            <div class="posters-grid">
                {% for movie in movies %}
                <div class="poster-box">
                    <div class="poster-content">
                        {% if movie.poster_image %}
                            <img src="{{ movie.poster_image.url }}" alt="{{ movie.title }}">
                        {% else %}
                            <!-- Imagen por defecto si no se cargó ninguna -->
                            <img 
                                src="{% static 'images/default_poster.jpg' %}" 
                                alt="Imagen no disponible"
                            >
                        {% endif %}
                        <!-- Overlay con datos de la película -->
                        <div class="hover-overlay">
                            <div class="rating">
                                <span class="star">&#9733;</span> {{ movie.rating }} / 10
                            </div>
                            <div class="genres">
                                {% for genre in movie.genres.all %}
                                    <span>{{ genre.name }}</span>
                                {% endfor %}
                            </div>
                            <a href="{% url 'movie_detail' movie.id %}" class="details-button">
                                Ver
                            </a>
                        </div>
                    </div>
                    <!-- Título del póster -->
                    <div class="poster-info">
                        <p>{{ movie.title }} ({{ movie.release_date.year }})</p>
                    </div>
                </div>
                {% endfor %}
            </div>

<!-- Paginación -->
{% if is_paginated %}
<div class="pagination">
  <ul>
    <!-- BOTÓN "Primero" -->
    {% if page_obj.number > 1 %}
      <li>
        <a href="?page=1&q={{ query }}&genre_id={{ current_genre_id }}&year_segment={{ current_year_segment }}&sort_by={{ current_sort_by }}">&laquo; First</a>
      </li>
    {% endif %}

    <!-- BOTÓN "Anterior" -->
    {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}&genre_id={{ current_genre_id }}&year_segment={{ current_year_segment }}&sort_by={{ current_sort_by }}">&laquo; Previous</a>
      </li>
    {% endif %}

    <!-- Números de página -->
    {% for p in display_pages %}
      {% if p == '...' %}
        <li class="dots"><span>...</span></li>
      {% else %}
        {% if p == page_obj.number %}
          <!-- Página actual -->
          <li class="active"><span>{{ p }}</span></li>
        {% else %}
          <li>
            <a href="?page={{ p }}&q={{ query }}&genre_id={{ current_genre_id }}&year_segment={{ current_year_segment }}&sort_by={{ current_sort_by }}">{{ p }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- BOTÓN "Siguiente" -->
    {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}&q={{ query }}&genre_id={{ current_genre_id }}&year_segment={{ current_year_segment }}&sort_by={{ current_sort_by }}">Next &raquo;</a>
      </li>
    {% endif %}

    <!-- BOTÓN "Último" -->
    {% if page_obj.number < page_obj.paginator.num_pages %}
      <li>
        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}&genre_id={{ current_genre_id }}&year_segment={{ current_year_segment }}&sort_by={{ current_sort_by }}">Last &raquo;&raquo;</a>
      </li>
    {% endif %}
  </ul>

  <!-- Información de la página -->
  <div class="page-info">
    <small>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</small>
  </div>
</div>
{% endif %}

      

            <!-- Barra de búsqueda -->
            <div class="search-bar">
                <form method="get" action="{% url 'movie_list' %}">
                    <input 
                        type="text" 
                        name="q" 
                        placeholder="Buscar película por su título original..." 
                        value="{{ query }}"
                    >
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </section>
    </main>

    <!-- :::::::::::::::::: FOOTER ::::::::::::::::: -->
    <footer>
        <div class="container-footer">
            <!-- Texto Footer -->
            <div class="text-footer">
                &copy; 2024 By Will™. Todos los derechos reservados.
            </div>

            <div class="footer-columns">
                <!-- Redes Sociales -->
                <div class="link">
                    <h2>Mis Redes</h2>
                    <div class="socials">
                        <a href="#" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" title="LinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/WolfWilson/" title="GitHub">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.instagram.com/wolfwilson1986/" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <!-- Botón para mostrar el formulario -->
                        <button id="toggleFormButton" class="social-button" title="Pídeme una peli!">
                            <span class="material-icons">contact_page</span>
                        </button>
                    </div>
                    
                </div>

            
                <!-- Formulario de contacto -->
                <div id="contact-form" class="formulario hidden">
                    <h2>Contacto</h2>
                    <p>Haz tu pedido aquí:</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-2">Enviar</button>
                    </form>
                </div>

                {% if request_success %}
                <div id="requestModal" class="modal-overlay">
                    <div class="modal-content">
                        <img 
                            src="{% static 'images/brains.png' %}" 
                            alt="Confirmación" 
                            class="modal-image"
                        >
                        <h3>¡Pedido enviado exitosamente!</h3>
                        <p>Algún día, tal vez.....</p>
                        <button id="closeModal" class="btn btn-success">Cerrar</button>
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>

                <!--
          <button id="toggleFormButton" class="floating-button">
            <span class="material-icons">contact_page</span>
        </button>
    </footer>-->
    
    </footer>

</body>
</html>
