:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-title: 'Holtwood One SC', serif;
    --font-body: 'Mulish', sans-serif;
    --font-accent: 'Bebas Neue', cursive;
    --font-extra: 'PT Sans Narrow', sans-serif;
    --font-decorative: 'Ruslan Display', cursive; /* Nueva variable para Ruslan Display */
    --font-special: 'Bruno Ace SC', sans-serif; /* Nueva variable para Bruno Ace SC */

}


/* Configuración global */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Garantiza que el contenido ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    font-family:var(--font-secondary) ;
}

/* Mantén el header visible y sin contraerse */
header {
    flex-shrink: 0; /* Evita que el header se contraiga */
    background-color: #000; /* Ajusta el color de fondo si es necesario */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Estilo del main */
main {
    flex: 1; /* Permite que el main ocupe todo el espacio restante */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Evita que los elementos en main se desborden horizontalmente */
    overflow-y: auto; /* Agrega un scroll si hay demasiados elementos */
}

/* Estilo del footer */
footer {
    flex-shrink: 0;
    background-color: #272B2C;
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

/* Estilo del contenedor del footer */
.container-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-footer {
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 1rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

/* Redes sociales */
.socials {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #000;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #c4935a;
    font-size: 20px;
}

.socials a:hover {
    background-color: #c4935a;
}
