/* Estilos generales */

/* variables */

:root {
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-title: 'Holtwood One SC', serif;
    --font-body: 'Mulish', sans-serif;
    --font-accent: 'Bebas Neue', cursive;
    --font-extra: 'PT Sans Narrow', sans-serif;
    --font-decorative: 'Ruslan Display', cursive; /* Nueva variable para Ruslan Display */
}

body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}

main {
    font-family: var(--font-secondary);
    padding: 2rem;
    width: 100%;
    max-width: 800px; /* Mantener dentro de este ancho máximo */
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #272B2C;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-link {
    font-family: var(--font-secondary);
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

#movie-detail {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.movie-title {
    text-align: center;
    margin-bottom: 1rem;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.movie-details p {
    text-align: justify; /* Justifica el texto de la sinopsis */
    line-height: 1.6;
}

.movie-details {
    flex: 1;
    padding-right: 20px;
    margin-left: 20px;
}

.movie-poster {
    width: 100%;
    max-width: 380px;
    margin-bottom: 20px;
}

.movie-poster img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-review p {
    text-align: justify; /* Justifica el texto para que ocupe todo el ancho disponible */
    line-height: 1.6; /* Mantiene un buen espaciado entre líneas */
}

/* Estilos del reproductor */
#movie-frame {
    margin-top: 1rem;
    display: flex;
    justify-content: center; /* Centra el contenedor en la vista */
    align-items: center;
    flex-direction: column; /* Coloca el título encima del iframe */
    text-align: center;
    width: 100%;
}

.player-container {
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo */
}

.player-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.movie-play {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
}

.movie-play iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}

/* Footer */
footer {
    background-color: #272B2C;
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socials a {
    margin: 0 10px;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #FFD700;
}

.formulario {
    margin-top: 1rem;
}

/*::::::::::::::::::ESTILO PARA EL LOGO TMBD::::::::::::::::::::::::::*/
.movie-rating h3 {
    display: flex;
    align-items: center; /* Alinea el texto y la imagen verticalmente */
    gap: 10px; /* Espaciado entre la imagen y el texto */
    font-size: 18px; /* Ajusta el tamaño del texto */
    color: #333; /* Color de texto */
    margin: 0; /* Quita el margen */
}

/* Estilo para la imagen */
.movie-rating img {
    width: 50px; /* Tamaño reducido de la imagen */
    height: 50px; /* Tamaño reducido de la imagen */
    border-radius: 50%; /* Imagen circular */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente si es necesario */
}



/* Ajustes Responsive */
@media (max-width: 768px) {
    main {
        padding: 1rem;
        max-width: 100%;
    }

    .movie-info {
        flex-direction: column;
        align-items: center;
    }

    .movie-details {
        padding-right: 0;
        margin-left: 0;
    }

    .movie-poster {
        max-width: 75%;
    }

    .movie-play {
        padding-bottom: 75%; /* Mayor altura para móviles */
    }

    .player-title {
        font-size: 1.2rem; /* Texto más pequeño para pantallas pequeñas */
    }

    footer {
        text-align: center;
    }
}

/* Efectos adicionales */
.movie-poster {
    position: relative;
    display: inline-block;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Oscurece el fondo */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.movie-poster:hover .hover-overlay {
    opacity: 1;
}
